# Proyecto 3. Storytelling

### 1.Exploración del dataset

Comenzaremos con la lectura de los datos y la exploración del datset

In [3]:
# Importando librerias

#pip install datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date, timedelta, datetime

In [4]:
# Lectura del archivo
data = pd.read_csv('./AccidentesAviones.csv')

In [5]:
# Visualización de los datos
data

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [6]:
#Verificando el tipo de datos y si existen valores nulos
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

In [ ]:
# Visualización de los datos con libreria pandasgui
#pip install pandasgui
from pandasgui import show
show(data)

### 2.Tranformaciones y normalización del dataset

Aplicando las transformaciones para la columna de 'fecha'

In [8]:
#Cambiando el formato de la columna
data['fecha']=pd.to_datetime(data['fecha'])

In [9]:
#Visualización de los cambios de la columna fecha
data

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,1913-09-09,1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,2021-03-28,1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,2021-05-21,1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,2021-06-10,0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,2021-07-04,11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,2021-07-06,1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [10]:
# Validando si existen datos nulos
data.isnull().sum()

Unnamed: 0                0
fecha                     0
HORA declarada            0
Ruta                      0
OperadOR                  0
flight_no                 0
route                     0
ac_type                   0
registration              0
cn_ln                     0
all_aboard                0
PASAJEROS A BORDO         0
crew_aboard               0
cantidad de fallecidos    0
passenger_fatalities      0
crew_fatalities           0
ground                    0
summary                   0
dtype: int64

Normalización y tranformación de la columna 'HORA declarada'

In [11]:
# Normalizando la columna de tiempo (HORA declarada)
data['HORA declarada'] = data ['HORA declarada'].replace('?', '00:00')
data['HORA declarada'] = data ['HORA declarada'].str.replace('c ','')

In [12]:
#Visualización de los cambios de la columna HORA
data

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,00:00,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,00:00,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,1913-09-09,1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,2021-03-28,1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,2021-05-21,1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,2021-06-10,0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,2021-07-04,11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,2021-07-06,1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [13]:
# Verificando cambios en las columnas  que presentaban el formato 'c '
# data.iloc[95]
# data.iloc[117]
data.iloc[169]

Unnamed: 0                                                              169
fecha                                                   1928-12-01 00:00:00
HORA declarada                                                        10:00
Ruta                                                            Spur, Texas
OperadOR                                          Sunbeam Air Transport Co.
flight_no                                                                 ?
route                               San Antonio - Amarillo - Tulsa - Denver
ac_type                                               Ford 4-AT-B Tri Motor
registration                                                         NC7862
cn_ln                                                               4-AT-47
all_aboard                                                                5
PASAJEROS A BORDO                                                         4
crew_aboard                                                               1
cantidad de fallecidos                                                    5
passenger_fatalities                                                      4
crew_fatalities                                                           1
ground                                                                    0
summary                   The aircraft crashed and burned while en route...
Name: 169, dtype: object

In [14]:
# Creando función para normalizar la columna de HORA declarada
def normalizar_hora(var):
    if ':' not in var:
        return f'{var[:2]}:{var[-2:]}'
    else:
        return var

In [15]:
# Verificando la función normalizar_hora
var1= '1550'
var2 =normalizar_hora(var1)
var2

'15:50'

In [16]:
var1= '16:80'
var2 =normalizar_hora(var1)
var2

'16:80'

In [17]:
# data['HORA declarada'] = data ['HORA declarada'].astype(str)
data['HORA declarada'] = data ['HORA declarada'].apply(lambda x: normalizar_hora(x))

In [18]:
#Verificando cambios en la columna 'HORA declarada'
data

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,00:00,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,00:00,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,1913-09-09,18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,2021-03-28,18:35,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,2021-05-21,18:00,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,2021-06-10,08:00,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,2021-07-04,11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,2021-07-06,15:00,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [19]:
# Reemplazando valores  donde tenemos el signo ? por Na
data.replace({'?': 'Na'}, inplace= True)

In [20]:
# Verificando cambios en el dataset
data

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,Na,Demonstration,Wright Flyer III,Na,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,00:00,"Juvisy-sur-Orge, France",Na,Na,Air show,Wright Byplane,SC1,Na,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Na,Test flight,Dirigible,Na,Na,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,00:00,"Victoria, British Columbia, Canada",Private,Na,Na,Curtiss seaplane,Na,Na,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,1913-09-09,18:30,Over the North Sea,Military - German Navy,Na,Na,Zeppelin L-1 (airship),Na,Na,20,Na,Na,14,Na,Na,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,2021-03-28,18:35,"Near Butte, Alaska",Soloy Helicopters,Na,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,2021-05-21,18:00,"Near Kaduna, Nigeria",Military - Nigerian Air Force,Na,Na,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,2021-06-10,08:00,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,Na,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,2021-07-04,11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,Na,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,Na,Na,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,2021-07-06,15:00,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [21]:
# Para las columnas donde tenemos valores numericos reemplazaremos por cero en lugar de Na
data['all_aboard'] = data ['all_aboard'].replace('Na', 0)
data['PASAJEROS A BORDO'] = data ['PASAJEROS A BORDO'].replace('Na', 0)
data['crew_aboard'] = data ['crew_aboard'].replace('Na', 0)
data['cantidad de fallecidos'] = data ['cantidad de fallecidos'].replace('Na', 0)
data['passenger_fatalities'] = data ['passenger_fatalities'].replace('Na', 0)
data['crew_fatalities'] = data ['crew_fatalities'].replace('Na', 0)
data['ground'] = data ['ground'].replace('Na', 0)

In [22]:
# Verificando cambios en el dataset
data

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,Na,Demonstration,Wright Flyer III,Na,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,00:00,"Juvisy-sur-Orge, France",Na,Na,Air show,Wright Byplane,SC1,Na,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Na,Test flight,Dirigible,Na,Na,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,00:00,"Victoria, British Columbia, Canada",Private,Na,Na,Curtiss seaplane,Na,Na,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,1913-09-09,18:30,Over the North Sea,Military - German Navy,Na,Na,Zeppelin L-1 (airship),Na,Na,20,0,0,14,0,0,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,2021-03-28,18:35,"Near Butte, Alaska",Soloy Helicopters,Na,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,2021-05-21,18:00,"Near Kaduna, Nigeria",Military - Nigerian Air Force,Na,Na,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,2021-06-10,08:00,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,Na,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,2021-07-04,11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,Na,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,0,0,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,2021-07-06,15:00,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [23]:
#Cambiando tipo de formato en la columna 
data['ground'] = data ['ground'].astype(int)
data.ground.sum()

8530

In [24]:
# Modificando tipo de datos de string a enteros de las columnas de descesos
data['all_aboard'] = data ['all_aboard'].astype(int)
data['PASAJEROS A BORDO'] = data ['PASAJEROS A BORDO'].astype(int)
data['crew_aboard'] = data ['crew_aboard'].astype(int)
data['cantidad de fallecidos'] = data ['cantidad de fallecidos'].astype(int)
data['passenger_fatalities'] = data ['passenger_fatalities'].astype(int)
data['crew_fatalities'] = data ['crew_fatalities'].astype(int)
data['ground'] = data ['ground'].astype(int)

In [25]:
# Verificando operaciones y cambios en el formato
data.all_aboard.sum()

155326

In [26]:
# Verificando operaciones y cambios en el formato
data.crew_fatalities.sum()

17122

In [27]:
# Formato de los datos
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   datetime64[ns]
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   int32
 11  PASAJEROS A BORDO       5008 non-null   int32
 12  crew_aboard             5008 non-null   int32
 13  cantidad de fallecidos  5008 non-null   int32
 14  passenger_fatalities    5008 non-null   int32
 15  crew_fatalities         5008 non-null   int32
 16  ground                  5008 non-null   int32
 17  summary                 5008 non-null   object
dtypes: datetime64[ns](1), int32(7), int64(1), object(9)
memory usage: 567.4+ KB

In [ ]:
# data(columns= ['Ruta', 'OperadOR', 'flight_no', 'route', 'ac_type', 'registration', 
# 'cn_ln', 'all_aboard', 'PASAJEROS A BORDO', 'crew_aboard', 'cantidad de fallecidos', 'passenger_fatalities',
# 'crew_fatalities','ground',	summary']).replace('?', 'Na')

Normalizando los nombres de las columnas

In [28]:
# Normalizando el nombre de las columnas
data =data.rename(columns={'Unnamed: 0':'No_accidente'})
data =data.rename(columns={'fecha':'Fecha'})
data =data.rename(columns={'HORA declarada':'Hora_declarada' })
data =data.rename(columns={'OperadOR':'Operador' })
data =data.rename(columns={'flight_no':'No_vuelo' })
data =data.rename(columns={'route':'Lugar_accidente' })
data =data.rename(columns={'ac_type':'Tipo_aeronave' })
data =data.rename(columns={'registration':'Modelo_aeronave' })
data =data.rename(columns={'cn_ln':'No_fuselaje' })
data =data.rename(columns={'all_aboard':'Personas_a_bordo' })
data =data.rename(columns={'PASAJEROS A BORDO':'Pasajeros_a_bordo' })
data =data.rename(columns={'crew_aboard':'Tripulacion_a_bordo' })
data =data.rename(columns={'cantidad de fallecidos':'No_fallecidos' })
data =data.rename(columns={'passenger_fatalities':'Pasajeros_fallecidos' })
data =data.rename(columns={'crew_fatalities':'Tripulacion_fallecidos' })
data =data.rename(columns={'ground':'Fallecimientos_tierra' })
data =data.rename(columns={'summary':'Resumen' })

In [29]:
data.columns

Index(['No_accidente', 'Fecha', 'Hora_declarada', 'Ruta', 'Operador',
       'No_vuelo', 'Lugar_accidente', 'Tipo_aeronave', 'Modelo_aeronave',
       'No_fuselaje', 'Personas_a_bordo', 'Pasajeros_a_bordo',
       'Tripulacion_a_bordo', 'No_fallecidos', 'Pasajeros_fallecidos',
       'Tripulacion_fallecidos', 'Fallecimientos_tierra', 'Resumen'],
      dtype='object')

### 3. Ingeniería de features

Creando nueva columna a partir de las columnas de personas a bordo vs personas fallecidas

In [30]:
# Generando nueva columna de sobrevientes
data['Sobrevivintes']= abs(data['Personas_a_bordo']-data['No_fallecidos'])

In [31]:
data

,No_accidente,Fecha,Hora_declarada,Ruta,Operador,No_vuelo,Lugar_accidente,Tipo_aeronave,Modelo_aeronave,No_fuselaje,Personas_a_bordo,Pasajeros_a_bordo,Tripulacion_a_bordo,No_fallecidos,Pasajeros_fallecidos,Tripulacion_fallecidos,Fallecimientos_tierra,Resumen,Sobrevivintes
0,0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,Na,Demonstration,Wright Flyer III,Na,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",1
1,1,1909-09-07,00:00,"Juvisy-sur-Orge, France",Na,Na,Air show,Wright Byplane,SC1,Na,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,0
2,2,1912-07-12,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Na,Test flight,Dirigible,Na,Na,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,0
3,3,1913-08-06,00:00,"Victoria, British Columbia, Canada",Private,Na,Na,Curtiss seaplane,Na,Na,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,0
4,4,1913-09-09,18:30,Over the North Sea,Military - German Navy,Na,Na,Zeppelin L-1 (airship),Na,Na,20,0,0,14,0,0,0,The airship flew into a thunderstorm and encou...,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,2021-03-28,18:35,"Near Butte, Alaska",Soloy Helicopters,Na,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...,1
5004,5004,2021-05-21,18:00,"Near Kaduna, Nigeria",Military - Nigerian Air Force,Na,Na,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi...",0
5005,5005,2021-06-10,08:00,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,Na,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...,2
5006,5006,2021-07-04,11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,Na,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,0,0,3,"While attempting to land at Jolo Airport, the ...",46
5007,5007,2021-07-06,15:00,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...,0

In [32]:
# Creando el archivo csv del nuevo data con datos normalizados
data.to_csv('./AccidentesAviones_normalizado.csv',index=False, sep=',', decimal='.', encoding= "utf_8")

### 4. Conectando dataset con MySQL

In [33]:
## Conectando el dataset con mysql

# importando librerias
from pandas.io import sql
import pandas as pd
import sqlalchemy as db
from datetime import datetime, date
import numpy as np
from scipy import stats
import pymysql

In [34]:
# Cargandp tabla a mysql
database_username='root' 
database_password='ShinigamI1'
database_ip='localhost'
database_name='accidentes_aereos'
database_conection=db.create_engine(f'mysql+pymysql://{database_username}:{database_password}@{database_ip}/{database_name}')
coneccion=database_conection.connect()
metadata=db.MetaData()

data.to_sql('accidentes', coneccion, index= False)

5008