In [1]:
print('h')

h

# Proyecto 3. Storytelling

Este es el segundo dataset que sera considerado para el análisis de choques aéreos, esta obtenido de la página
https://www.ntsb.gov/Pages/Results.aspx?queryId=25cba94b-7ff0-4caa-aa48-28b542f9eca9

### 1. Exploración y análisis de los datos

In [123]:
# Importando librerias
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date, timedelta, datetime

In [124]:
# Leyendo archivo
aviation_data = pd.read_csv('./AviationData.txt', sep='|')
aviation_data.head(5)

C:\Users\Polaris Coneja\AppData\Local\Temp\ipykernel_15616\449364442.py:2: DtypeWarning: Columns (0,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  aviation_data = pd.read_csv('./AviationData.txt', sep='|')

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Status,Publication Date,
0,20080206X00141,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,,,...,,,,,1,,,Foreign,02/06/2008,
1,20080125X00106,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,SNA,John Wayne - Orange County,...,,,,,2,VMC,LANDING,Factual <br />01/25/2008<br/>Final <br />02/2...,02/28/2008,
2,20080129X00122,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,AXN,Chandler Field Airport,...,,,,,1,VMC,TAKEOFF,Factual <br />01/29/2008<br/>Final <br />02/2...,02/28/2008,
3,20080114X00045,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,PRB,Paso Robles Airport,...,,1,,,,VMC,MANEUVERING,Factual <br />09/05/2008<br/>Final <br />06/2...,06/20/2014,
4,20080109X00032,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,,,...,,3,0,0,0,VMC,MANEUVERING,Factual <br />01/15/2009<br/>Final <br />01/1...,01/15/2009,

In [ ]:
#Verificando si ha valores nulos en el dataset
aviation_data.info()

### 2. Normalizando y transformando el dataset

Se realizara una reducción de la dimensionalidad del dataset y se tomaran las columnas que pueden aportar información  necesaria en el análisis de las causas de la caída en los aviones.

In [125]:
# Reduciendo la cantidad de columnas tomadas del data set
aviation_data = aviation_data[['Event Id ', ' Investigation Type ', ' Event Date ', ' Location ', ' Country ', ' Latitude ', ' Longitude ',' Airport Name ', ' Injury Severity ', ' Aircraft Category ', ' Make ',' Model ',' Purpose of Flight ',
        ' Air Carrier ', ' Total Fatal Injuries ', ' Total Serious Injuries ', ' Total Minor Injuries ',
       ' Total Uninjured ', ' Weather Condition ', ' Broad Phase of Flight ']]

In [126]:
# Cambiando formato de la columna de ´' Event Date ' a datatime
aviation_data[' Event Date ']= pd.to_datetime(aviation_data[' Event Date '])

In [128]:
#Normaizando los nombres de las columnas
aviation_data =aviation_data.rename(columns={'Event Id ':'Event Id' })
aviation_data =aviation_data.rename(columns={' Investigation Type ':'Investigation Type' })
aviation_data =aviation_data.rename(columns={' Event Date ':'Event Date' })
aviation_data =aviation_data.rename(columns={' Location ':'Location' })
aviation_data =aviation_data.rename(columns={' Country ':'Country' })
aviation_data =aviation_data.rename(columns={' Latitude ':'Latitude' })
aviation_data =aviation_data.rename(columns={' Longitude ':'Longitude' })
aviation_data =aviation_data.rename(columns={' Airport Name ':'Airport Name' })
aviation_data =aviation_data.rename(columns={' Injury Severity ':'Injury Severity' })
aviation_data =aviation_data.rename(columns={' Aircraft Category ':'Aircraft Category' })
aviation_data =aviation_data.rename(columns={' Make ':'Make' })
aviation_data =aviation_data.rename(columns={' Model ':'Model' })
aviation_data =aviation_data.rename(columns={' Purpose of Flight ':'Purpose of Flight' })
aviation_data =aviation_data.rename(columns={' Air Carrier ':'Air Carrier' })
aviation_data =aviation_data.rename(columns={' Total Fatal Injuries ':'Total Fatal Injuries'})
aviation_data =aviation_data.rename(columns={' Total Serious Injuries ':'Total Serious Injuries'})
aviation_data =aviation_data.rename(columns={' Total Minor Injuries ':'Total Minor Injuries'})
aviation_data =aviation_data.rename(columns={' Total Uninjured ':'Total Uninjured'})
aviation_data =aviation_data.rename(columns={' Weather Condition ':'Weather Condition'})
aviation_data =aviation_data.rename(columns={' Broad Phase of Flight ':'Broad Phase of Flight'})

In [129]:
# Verificando los cambios en la estructura del dataset
aviation_data

,Event Id,Investigation Type,Event Date,Location,Country,Latitude,Longitude,Airport Name,Injury Severity,Aircraft Category,Make,Model,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight
0,20080206X00141,Accident,2007-12-31,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,,Non-Fatal,,Cessna,T303,Unknown,,,,,1,,
1,20080125X00106,Accident,2007-12-31,"Santa Ana, CA",United States,33.675556,-117.868056,John Wayne - Orange County,Non-Fatal,Airplane,Piper,PA-12,Instructional,,,,,2,VMC,LANDING
2,20080129X00122,Accident,2007-12-30,"Alexandria, MN",United States,45.866111,-95.394444,Chandler Field Airport,Non-Fatal,Airplane,Lerohl,RV-8,Personal,,,,,1,VMC,TAKEOFF
3,20080114X00045,Accident,2007-12-30,"Paso Robles, CA",United States,35.542222,-120.522778,Paso Robles Airport,Fatal(1),Airplane,Cirrus Design Corp.,SR22,Personal,,1,,,,VMC,MANEUVERING
4,20080109X00032,Accident,2007-12-30,"Cherokee, AL",United States,34.688611,-87.920000,,Fatal(3),Helicopter,BELL,206L-3,Other Work Use,,3,0,0,0,VMC,MANEUVERING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150947,18,,1962-01-16,"LIMESTONE, ME",United States,,,,Non-Fatal,,CURTISS-WRT,C-46F,,,0,0,0,0,,
150948,25,,1962-01-14,"BIRMINGHAM, AL",United States,,,,Non-Fatal,,LOCKHEED,188,,,0,0,0,0,,
150949,5,,1962-01-13,"FILLMORE, CA",United States,,,,Non-Fatal,,DOUGLAS,DC-6,,,0,0,0,0,,
150950,4,,1962-01-01,"CHARLOTTE, NC",United States,,,,Non-Fatal,,FAIRCHILD,F-27,,,0,0,0,0,,
150951,20001218X45444,Accident,1948-10-24,"MOOSE CREEK, ID",United States,,,,Fatal(2),,STINSON,108-3,Personal,,2,0,0,0,UNK,CRUISE

In [130]:
# Reemplezando los datos que se encuentran vacios por etiquetas que puedan brindar mayor información
aviation_data['Investigation Type'] = aviation_data['Investigation Type'].replace('  ','No information')
aviation_data['Location'] = aviation_data['Location'].replace('  ','Unknown')
aviation_data['Country'] = aviation_data['Country'].replace('  ','Unknown')
# aviation_data['Latitude'] = aviation_data['Latitude'].replace('  ','Na')
# aviation_data['Longitude'] = aviation_data['Longitude'].replace('  ','Na')
aviation_data['Airport Name'] = aviation_data['Airport Name'].replace('  ','No information')
aviation_data['Aircraft Category'] = aviation_data['Aircraft Category'].replace('  ','Unknown')
aviation_data['Make'] = aviation_data['Make'].replace('  ','Unknown')

In [131]:
#En la columna de 'Make' se normaliza la forma en la que vienen lso string
aviation_data['Make'] = aviation_data['Make'].str.title()

In [132]:
# Cambiando formato de tipo objetc a int, tambien se reemplazan valores vacios por cero
aviation_data['Total Fatal Injuries'] = aviation_data['Total Fatal Injuries'].replace('  ',0)
aviation_data['Total Fatal Injuries'] = aviation_data['Total Fatal Injuries'].astype(int)

aviation_data['Total Serious Injuries'] = aviation_data['Total Serious Injuries'].replace('  ',0)
aviation_data['Total Serious Injuries'] = aviation_data['Total Serious Injuries'].astype(int)

aviation_data['Total Minor Injuries'] = aviation_data['Total Minor Injuries'].replace('  ',0)
aviation_data['Total Minor Injuries'] = aviation_data['Total Minor Injuries'].astype(int)

aviation_data['Total Uninjured'] = aviation_data['Total Uninjured'].replace('  ',0)
aviation_data['Total Uninjured'] = aviation_data['Total Uninjured'].astype(int)

In [133]:
# Se verifica columna 'Injury Severity'
aviation_data['Injury Severity']

0          Non-Fatal
1          Non-Fatal
2          Non-Fatal
3           Fatal(1)
4           Fatal(3)
             ...
150947     Non-Fatal
150948     Non-Fatal
150949     Non-Fatal
150950     Non-Fatal
150951      Fatal(2)
Name: Injury Severity, Length: 150952, dtype: object

In [134]:
# Se realiza la separación de los datos, para solo obtener la etiqueta 'Faltal'
new= aviation_data['Injury Severity'].str.split("(", n = 1, expand = True)

In [135]:
# Resultado de columna 'Injury Severity'
new

                  0     1
0        Non-Fatal   None
1        Non-Fatal   None
2        Non-Fatal   None
3             Fatal   1)
4             Fatal   3)
...             ...   ...
150947   Non-Fatal   None
150948   Non-Fatal   None
150949   Non-Fatal   None
150950   Non-Fatal   None
150951        Fatal   2)

[150952 rows x 2 columns]

In [136]:
# Se asignan valores correctos a la columna 'Injury Severity'
aviation_data['Injury Severity']= new [0]

In [137]:
# Validamos estrutura de la columna 'Injury Severity'
aviation_data['Injury Severity']

0          Non-Fatal
1          Non-Fatal
2          Non-Fatal
3               Fatal
4               Fatal
             ...
150947     Non-Fatal
150948     Non-Fatal
150949     Non-Fatal
150950     Non-Fatal
150951          Fatal
Name: Injury Severity, Length: 150952, dtype: object

### 3. Conestando con MySQL

Se conecta con el dataset a MySQL a la BD 'accidentes_aereos'.

In [138]:
## Conectando el dataset con mysql

# importando librerias
from pandas.io import sql
import pandas as pd
import sqlalchemy as db
from datetime import datetime, date
import numpy as np
from scipy import stats
import pymysql

In [139]:
# Cargandp tabla a mysql
database_username='root' 
database_password='ShinigamI1'
database_ip='localhost'
database_name='accidentes_aereos'
database_conection=db.create_engine(f'mysql+pymysql://{database_username}:{database_password}@{database_ip}/{database_name}')
coneccion=database_conection.connect()
metadata=db.MetaData()

In [140]:
# Cargando dataset a MySQL
aviation_data.to_sql('AviationData', coneccion)

c:\Users\Polaris Coneja\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AviationData' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

150952